
.logo {
  display: inline-block
}

.logo h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
  background: -webkit-linear-gradient(0deg, #df59da, #92a0fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}