.introduction {
  width: calc(100% - 160px);
  margin-left: 80px;
  margin-right: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.rowUpper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rowLower {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.picture {  
  flex: 1;
}

.bigText {
  margin-left: 50px;
  flex: 3;
}

.empty {
  margin-left: 50px;
  flex: 1;
}

.about {
  flex: 3;
  margin-top: 50px;
}